body {
	margin: 0;
}

nav {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: flex-end;
	background-color: black;
	height: 150px;
}

.image-container {
	height: 100%;
	width: 55%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-basis: 100%;
}

nav img {
	height: 100%;
	width: 112px;
}


.button-container {
	height: 100%;
	width: 45%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/*css for animating hamburger menu button*/
.menu-button {
	height: 100px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: center;
	cursor: pointer;
	margin: auto;
	margin-right: 20px;
}

.bar1, .bar2, .bar3 {
  width: 105px;
  height: 15px;
  background-color: white;
  margin: auto;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-25px, 14px) ;
  transform: rotate(-45deg) translate(-25px, 14px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-28px, -26px) ;
  transform: rotate(45deg) translate(-28px, -26px) ;
}